@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  background: #8FBC8F;
  font-family: 'Open Sans', sans-serif;
  color: #696969
}

.title {
  font-size: 5em;
  text-align: center;
  padding: 20px;
  padding-left: 40%;
  text-decoration: none;
  color: #696969;

}
.cart{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 100%;
  transform: translate(-50%, -50%);
}

.cartButton{
  width: 40px;
  height: 36px;
  border: 1px solid #696969;
  background: #696969;
  text-align: center;
  color: #fff;
  border-radius:5px 5px 5px 5px;
  cursor: pointer;
  font-size: 20px;
}

.login{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 97%;
  transform: translate(-50%, -50%);
}

.loginButton{
  width: 40px;
  height: 36px;
  border: 1px solid #696969;
  background: #696969;
  text-align: center;
  color: #fff;
  border-radius:5px 5px 5px 5px;
  cursor: pointer;
  font-size: 10px;
}

.logout{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 94%;
  transform: translate(-50%, -50%);
}

/* The searchbar */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #696969;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #696969;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #696969;
  background: #696969;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 27%;
  transform: translate(-50%, -50%);
}



/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
  a:hover {
  color: #f1f1f1;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Style main page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  top:35%;
  position: absolute;
}

/* Flex container for product grid layout */
#p-flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Product items */
div.p-flex {
  width: 25%;
}
div.p-flex-in {
  box-sizing: border-box;
  margin: 5px; 
  padding: 10px;
  border: 1px solid #e7fcde;
  background: #8FBC8F;
}
img.p-img {
  width:  100%;
  height: 250px;
  object-fit:scale-down;
}
div.p-name {
  font-weight: bold;
  font-size: 1.1em;
}
div.p-price {
  color: #fff;
}
div.p-desc {
  color: #888;
  font-size: 0.9em;
}
button.p-add {
  background: #696969;
  color: #fff;
  border: none;
  border-radius:5px 5px 5px 5px;
  width: 100%;
  padding: 10px;
  margin: 10px 5px 5px 5px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}
/* Responsive */
@media only screen and (max-width: 1024px) {
  div.p-flex { width: 33%; }
}
@media only screen and (max-width: 600px) {
  div.p-flex { width: 50%; }
}

